<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<a href="{{ . }}">
    <button>Log in via Google</button>
</a>
</body>
<style>
    body{
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    button{
        height: 60px;
        width: 250px;
        font-size: 24px;
        background-color: royalblue;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 10px;
        display: flex;
        cursor: pointer;
        border: none;
        border-style: double;
    }
    button:hover {
        background-color: #4562bb;
    }
</style>
</html>